<% include ../partials/header %>

<div class = "container">
    <h1 class = "text-center"> Add new comment to <%= language.name %></h1>
    <div class = "row">
        <div style = "width:30%; margin: 25px auto">
            <form action = "/languages/<%= language._id %>/comments" method = "post">
            <div class="form-group">
                <input type="text" class="form-control" name = "comment[text]" placeholder="Enter Comment">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name = "comment[author]" value = "<%= currentUser.username%>">
            </div>

            <div class = "form-group">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
            
            </form>

            <a href = "/languages"> <<< Go Back</a>
        </div>
        
    </div>
    

    

</div>


<% include ../partials/footer %>