<% include ./partials/header %>
<h1> Languages page</h1>

<form action = "#" method = "POST">
    <div class = "form-group">
        <input type = "text" name = "addLang" placeholder = "Add new language">
        <input type = "text" name = "image" placeholder = "Add new image">
        <button type = "submit">Add</button>
    </div>
</form>

<a href = "/languages"> <<< Go Back</a>

<% include ./partials/footer %>