<h1> Languages page</h1>

<div>
    <% languages.forEach(function(i) { %>
        <div>
            <h4><%= i.name %></h4>
            <img src = "<%= i.image %>" > 
        </div>
    <% }); %>

</div>